modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0", "javascript_database:1.0.0", "javascript_object_storage:2.0.0", "javascript_anthropic_ai_integrations:2.0.0"]
expertMode = true

[userenv]

[userenv.production]

[userenv.shared]
SMTP_FROM = "master@floxn.co.kr"
BUBBLE_API_TOKEN = "7bbe49c5fe52012438cb237b1747a1ca"
SMTP_PASS = "diddpfla135!"
SMTP_PORT = "465"
SOLAPI_API_KEY = "NCSSGWEOXU6DALKJ"
SOLAPI_API_SECRET = "QTEAE86GWNXMXHUUNYYLHCS0EYPSVIE3"
DEFAULT_OBJECT_STORAGE_BUCKET_ID = "replit-objstore-3a197262-446f-4f16-bd21-669a78015258"
AI_INTEGRATIONS_ANTHROPIC_BASE_URL = "http://localhost:1106/modelfarm/anthropic"
AI_INTEGRATIONS_ANTHROPIC_API_KEY = "_DUMMY_API_KEY_"
SOLAPI_SENDER = "070-7778-0925"
MAIL_APP_PASSWORD = "8fVgEviYdhgrcJztwqwX"
DEV_DATABASE_URL = "postgresql://neondb_owner:npg_THgS2Jhcsd7X@ep-restless-snow-a1vl9u1b-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SMTP_PASSWORD = "Nqs3dKUi48IG21CEdsv5"
SMTP_HOST = "smtps.hiworks.com"
SMTP_USER = "hjlee@floxn.co.kr"
PROD_DATABASE_URL = "postgresql://neondb_owner:npg_THgS2Jhcsd7X@ep-gentle-base-a1ldp8ap-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PRIVATE_OBJECT_DIR = "/replit-objstore-f2dbc79d-5089-4493-9638-dd0e5fd60b24/.private"
PUBLIC_OBJECT_SEARCH_PATHS = "/replit-objstore-f2dbc79d-5089-4493-9638-dd0e5fd60b24/public"
ENCRYPTION_KEY = "1adf72254c5eaea5178e13468dd27dac15d6e39a40b92ba592cad084edb8d05f"

[objectStorage]
defaultBucketID = "replit-objstore-3a197262-446f-4f16-bd21-669a78015258"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080

[[ports]]
localPort = 22965
externalPort = 3000
